@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #484848;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: #F0EDF6;
}

/* Main heading and Logo */

h1, h2 {
    font-family: Bree Serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F0EDF6;
}

#logo {
    float: left;
    font-size: 290%;
    margin-left: 35px;
    margin-top: 15px;
    line-height: 75px;
}

/* Navigation Menu */

#menu {
    font-size: 150%;
    letter-spacing: 0.5px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    margin-top: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #f4511e;
}

/* About Us */

.club-intro {
    height: 680px;
    position: absolute;
    bottom: 120px;
    margin-left: 35px;
}

.club-intro p {
    margin-top: 15px;
    padding-top: 15px;
    text-align: justify;
    width: 33%;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 30px;
    font-size: 120%;
}

.about-us {
    font-size: 175%;
}

/* Weightlifter Image */

#image-section {
    height: 680px;
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0px;
}

#lifter-image {
    float: right;
}

#superman {
    position: absolute;
    right: 570px;
    top: 200px;
    float: right;
}

/* Sign Up Button */

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-left: 12%;
    margin-top: 5%;
  }

  .button:hover {
      color: black;
  }

  /* Workouts Page */

  #weekly-workouts li {
      list-style-type: lower-roman;
  }

  #left-workouts {
      float: left;
      position: absolute;
      height: 50%;
      width: 25%;
      bottom: 245px;
      left: 290px;
  }

  .left-workout-heading {
      float: left;
      font-size: 120%;
  }

  .routine {
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

  #right-workouts {
    float: right;
    position: absolute;
    height: 50%;
    width: 25%;
    bottom: 245px;
    right: 180px;
}

.right-workout-heading {
    float: left;
    font-size: 120%;
}

.routine-two {
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

  #bottom-workout {
      width: 25%;
      height: 25%;
      position: absolute;
      bottom: 70px;
      left: 810px;
  }

  #bottom-workout-heading {
    font-size: 120%;
  }

  #routine-three {
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

/* Footer */

#footer {
    width: 100%;
}

#social-media-links {
    height: 120px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 0px;
}

#social-media-links > li {
    display: inline;
}

#social-media-links i {
    font-size: 140%;
    padding: 2.5%;
    color: #F0EDF6;
    margin-bottom: 2.5%;
}

#social-media-links i:hover {
    color: #f4511e;
}