@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #484848;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: #F0EDF6;
}

/* Main heading and Logo */

header {
    /* height: 100px; */
    width: 100%;
}

header > a {
    height: 100%;
    width: 45%;
    display: inline-block;
    margin: auto 0;
    text-decoration: none;
}

h1, h2 {
    font-family: Bree Serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F0EDF6;
}

#logo {
    /* float: left; */
    font-size: 2.9rem;
    margin-left: 35px;
    /* margin-top: 15px;
    line-height: 75px; */
}

#logo:hover {
    color: rgba(211, 84, 0, 0.7);
}

/* Navigation Menu */

nav {
    height: 100%;
    width: 45%;
    display: inline-block;
}

#menu {
    font-size: 150%;
    letter-spacing: 0.5px;
    margin-top: 75px;
    /* line-height: 75px; */
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    /* margin-top: 15px; */
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: rgba(211, 84, 0, 0.7);
}

/* About Us */

#club-intro-one {
    /* height: 850px;
    position: absolute;
     bottom: 140px;
    margin-left: 50px;
    margin-top: 100px;
    width: 33%; */
    width: 460px;
    padding-right: 20px;
    min-width: 460px;
}

#club-intro-one p {
    /* margin-top: 50px; */
    /* padding-top: 30px; */
    text-align: justify;
    /* width: 33%;
    margin-left: 15px; 
    padding-left: 15px; */
    line-height: 30px;
    font-size: 110%;
    padding-top: 20px;
}

#club-intro-one p:nth-of-type(2) {
    padding-bottom: 20px;
}

.about-us {
    font-size: 175%;
}

#main-section {
    min-height: 864px;
    width: 100%;
    /* position: absolute;
     top: 100px; 
     right: 0px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}

/* Weightlifter Image */

#lifter-image {
    /* float: right; */
    /* flex-basis: 600px;
    align-self: flex-end;
    margin-left: 100px; */
    width: 460px;
    min-width: 460px;
}

#lifter-image img {
   width: 100%;
}

#superman {
    /* position: absolute;
    right: 280px;
    top: 100px;
    float: right; */
    /* width: 33%;
    flex-basis: 600px;
    margin-left: 100px; */
    width: 100%;
    height: 100%;
    flex-shrink: 2;
}

#superman img {
    width: 460px;
    position: absolute;
    left: max(800px, 50%);
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Sign Up Button */

#button {
    background-color: rgba(211, 84, 0, 0.7);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    /* margin-left: 100px;
    margin-top: 75px; */
  }

  #button:hover {
      color: black;
  }

  /* Workouts Page */

  #workout-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  /* #weekly-workouts {
      height: 780px;
  } */

  #club-intro-two {
    height: 38px;
    margin-left: 50px;
    margin-top: 100px;
  }

  #weekly-workouts li {
      list-style-type: lower-roman;
  }

  #left-workouts {
      /* float: left;
      /* position: absolute;
      height: 50%;
      width: 20%;
      bottom: 200px;
      left: 260px;
      margin-left: 100px;
      margin-top: 100px; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }

  #left-workouts div {
    flex-basis: 250px;
  }

  .left-workout-heading {
      float: left;
      font-size: 120%;
  }

  .routine {
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

  #right-workouts {
    /* float: right;
    position: absolute;
    height: 50%;
    width: 20%;
    bottom: 200px;
    right: 215px;
    margin-right: 100px;
    margin-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#right-workouts div {
    flex-basis: 250px;
}

.right-workout-heading {
    float: left;
    font-size: 120%;
}

.routine-two {
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

  #pressup-image {
      /* position: absolute;
      left: 640px;
      top: 250px;
      margin-top: 50px; */
      width: 100%;
  }

  #equipment-message-one {
    /* position: absolute;
    bottom: 180px;
    left: 400px; */
    margin-top: 50px;
    margin-bottom: 50px;
}

#center-image {
    width: 38%;
}

/* Memberships Page */

/* #membership-section {
    height: 860px;
} */

#main-memberships {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.membership-plans {
    height: 400px;
    width: 300px;
    background-color: rgba(211, 84, 0, 0.7);
    /* position: absolute;
    top: 230px;
    left: 250px; */
    border-radius: 25px;
    padding: 20px;
    margin: 30px;
}


.membership-plans li {
    margin-bottom: 15px;
}

h3, h4 {
    text-align: center;
    color: #F0EDF6;
    font-family: Bree Serif, sans-serif;
    letter-spacing: 3px;
}

.membership-plans h4 {
    padding-top: 25px;
}

#silver-plan {
    padding-top: 100px;
}

.membership-plans li {
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 90%;
    list-style-type: square;
    text-align: justify;
    padding-top: 10px;
}

#membership-message {
    /* position: absolute;
    bottom: 180px;
    left: 600px; */
    padding: 100px 0;
    text-align: center;
}

#membership-message p {
    /* text-align: center; */
    margin-top: 10px;
    font-size: 93%;
}


/* Sign Up Page */

#signup-section {
    height: 859px;
    width: 100%;
    background: url('../images/personal-training.jpg') no-repeat center / cover;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}

#workout-form {
    background-color: rgba(211, 84, 0, 0.3);
    position: absolute;
    left: 15%;
    bottom: 10%;
    padding: 30px;
    margin: 150px 0 0 0;
    max-width: 500px;
}

#workout-form > h2 {
    margin-bottom: 15px;
}

#workout-form > label {
    font-size: 88%;
}

.input-field {
    background: transparent;
    width: 75%;
    height: 22px;
    margin: 10px 0 10px 0;
    border: 1px solid #F0EDF6;
    border-radius: 5px;
    color: #F0EDF6;
    padding: 10px;
}

#giveaway {
    background: transparent;
    margin: 10px 0 10px 0;
    border: 1px solid #F0EDF6;
    border-radius: 5px;
    color: #F0EDF6;
    width: 100%;
    resize: none;
    padding: 5px;
}

::placeholder {
    color: #F0EDF6;
}

#workout-form > h4 {
    text-align: left;
    margin-bottom: 15px;
}

.input-radio-one {
    margin-right: 2px; 
}

.input-radio-two {
    margin-right: 2px;
    margin-left: 5px; 
}

.input-radio-three {
    margin-right: 2px; 
    margin-left: 5px;
}

#input-enter {
    background-color: rgba(211, 84, 0, 0.7);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 25px;
}

#input-enter:hover {
    color: black;
}

/* Footer */

#social-media-links {
    height: 120px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px; */
}

#social-media-links > li {
    display: inline;
}

#social-media-links i {
    font-size: 140%;
    padding: 2.5%;
    color: #F0EDF6;
    margin-bottom: 2.5%;
}

#social-media-links i:hover {
    color: rgba(211, 84, 0, 0.7);
}

/* Form Submit Page */

#form-submit {
    background: url('../images/man-woman-rope.jpg') no-repeat center / cover;
    height: 1080px;
    text-align: center;
    font-size: 165%;
}

/* Media Queries */

@media screen and (max-width: 1236px) {

    #menu {
        font-size: 126%;
    }
    
}

@media screen and (max-width: 1200px) {

    #left-workouts, #right-workouts {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    #left-workouts div, #right-workouts div {
        flex-basis: auto;
    }

    #right-workouts {
        padding-top: 50px;
    }
    
    #workout-main {
        flex-direction: column;
        padding: 100px 25px 0;
    }

    #center-image {
        width: 100%;
    }

    #equipment-message-one {
        margin-bottom: 50px;
        margin-top: 0;
    }


}

@media screen and (max-width: 1094px) {

    #menu {
        font-size: 101%;
    }
    
}


@media screen and (max-width: 1080px) {

    #main-section {
        flex-direction: column-reverse;
    }

    #club-intro-one {
        width: 100%;
    }

    #about-us-tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    #club-intro-one p {
        width: 30%;
        flex-shrink: 2;
        padding: 20px;
        text-align: left;
    }
    
    #club-intro-one p:nth-of-type(2) {
        width: 40%;
        flex-shrink: 2;
    }

    #about-us-tablet a {
        height: 50px;
        width: 100px;
        flex-shrink: 1;
        align-self: center;
    }

    #superman {
        flex-shrink: 1;
        width: 100%;
    }

    #superman img {
        width: 100%;
        position: static;
        transform: translate(0, 0);
    }

    #lifter-image {
        display: none;
    }

}

@media screen and (max-width: 945px) {

    header > a {
        display: block;
        height: 100%;
        width: 100%;
        margin: auto 0;
        text-decoration: none;
    }

    #logo {
        font-size: 2.9rem;
        margin-left: 0;
        text-align: center;
    }

    nav {
        display: block;
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: center;
        gap: 25px;
    }

    #menu li {
        list-style: none;
    }

    .about-us {
        font-size: 150%;
        padding-top: 25px;
    }

    #club-intro-two {
        margin-bottom: 50px;
        margin-top: 0;
    }

    /* #signup-section {
        margin-top: 120px;
    }
     */
}
@media screen and (max-width: 799px) {
    
    #membership-message {
        padding: 60px 0;
    }
}

@media screen and (max-width: 750px) {

    #workout-form {
        max-width: 450px;
    }

    #club-intro-two h2 {
        padding-right: 60px;
        text-align: center;
    }
}

@media screen and (max-width: 715px) {

    #left-workouts, #right-workouts {
        flex-direction: column;
    }


}

@media screen and (max-width: 700px) {

    #main-section {
        padding: 0;
        padding-bottom: 20px;
    }

    #workout-form {
        max-width: 400px;
    }

    #club-intro-one {
        min-width: 100%;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .about-us {
        padding-left: 20px;
    }
    
    #about-us-tablet {
        flex-direction: column;
    }

    #club-intro-one p {
        width: 100%;
        box-sizing: border-box;
    }

    #club-intro-one p:nth-of-type(2) {
        width: 100%;
        box-sizing: border-box;

    }

}

@media screen and (max-width: 600px) {

    #workout-form {
        max-width: 300px;
    } 

    #menu {
        gap: 10px;
    }
}

@media screen and (max-width: 500px) {

    #menu {
        font-size: 91%;
        /* padding-left: 18px; */
    }
    
}

@media screen and (max-width: 475px) {

    #menu {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        /* margin-left: 100px; */
        padding-left: 0px;
    }

    #menu li {
        text-align: center;
        float: none;
        margin-right: 0;
    }

}

@media screen and (max-width: 460px) {

    #workout-form {
        max-width: 80%;
        margin: 150px auto 0;
        position: static;
    } 
}

@media screen and (max-width: 420px) { 

    #form-submit {
        height: 1420px;
        width: 100%;
    }
}

@media screen and (max-width: 340px) {

    #club-intro-two {
        margin-left: 20px;
    }

}

@media screen and (max-width: 375px) {

    #club-intro-two h2 {padding-top: 0px;
    }

}

@media screen and (max-width: 320px) {

    #club-intro-two h2 {
        padding-right: 31px;
        text-align: center;
    }
    
}