@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #484848;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: #F0EDF6;
}

/* Main heading and Logo */

h1, h2 {
    font-family: Bree Serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #F0EDF6;
}

#logo {
    float: left;
    font-size: 290%;
    margin-left: 35px;
    margin-top: 15px;
    line-height: 75px;
}

/* Navigation Menu */

#menu {
    font-size: 150%;
    letter-spacing: 0.5px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    margin-top: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #f4511e;
}

/* About Us */

.club-intro {
    height: 680px;
    position: absolute;
    bottom: 140px;
    margin-left: 35px;
}

.club-intro p {
    margin-top: 30px;
    padding-top: 30px;
    text-align: justify;
    width: 33%;
    margin-left: 15px;
    padding-left: 15px;
    line-height: 30px;
    font-size: 120%;
}

.about-us {
    font-size: 175%;
}

/* Weightlifter Image */

#image-section {
    height: 680px;
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0px;
}

#lifter-image {
    float: right;
}

#superman {
    position: absolute;
    right: 570px;
    top: 200px;
    float: right;
}

/* Sign Up Button */

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-left: 12%;
    margin-top: 5%;
  }

  .button:hover {
      color: black;
  }

  /* Workouts Page */

  #weekly-workouts li {
      list-style-type: lower-roman;
  }

  #left-workouts {
      float: left;
      position: absolute;
      height: 50%;
      width: 25%;
      bottom: 245px;
      left: 290px;
  }

  .left-workout-heading {
      float: left;
      font-size: 120%;
  }

  .routine {
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

  #right-workouts {
    float: right;
    position: absolute;
    height: 50%;
    width: 25%;
    bottom: 245px;
    right: 180px;
}

.right-workout-heading {
    float: left;
    font-size: 120%;
}

.routine-two {
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

  #bottom-workout {
      width: 25%;
      height: 25%;
      position: absolute;
      bottom: 70px;
      left: 810px;
  }

  #bottom-workout-heading {
    font-size: 120%;
  }

  #routine-three {
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 60px;
    margin-left: 34px;
    font-size: 90%;
  }

  #squat-image {
      position: absolute;
      left: 810px;
      top: 180px;
  }

/* Memberships Page */

#membership-one {
    height: 40%;
    width: 15%;
    background-color: #f4511e;
    position: absolute;
    top: 250px;
    left: 250px;
    border-radius: 25px;
    padding: 20px;
}

#membership-two {
    height: 40%;
    width: 15%;
    background-color: #f4511e;
    position: absolute;
    top: 250px;
    left: 816px;
    border-radius: 25px;
    padding: 20px;
}

#membership-three {
    height: 40%;
    width: 15%;
    background-color: #f4511e;
    position: absolute;
    top: 250px;
    right: 250px;
    border-radius: 25px;
    padding: 20px;
}

h3, h4 {
    text-align: center;
    color: #F0EDF6;
    font-family: Bree Serif, sans-serif;
    letter-spacing: 3px;
}

#membership-one h4 {
    padding-top: 100px;
}

#membership-two h4 {
    padding-top: 25px;
}

#membership-three h4 {
    padding-top: 10px;
}

#membership-plans li {
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 90%;
    list-style-type: square;
    text-align: justify;
    padding-top: 10px;
}

/* Sign Up Page */

#signup-section {
    height: 727px;
    width: 100%;
    background: url('../images/personal-training.jpeg') no-repeat center / cover;
    position: relative;

    overflow: hidden;
}

#workout-form {
    background-color: rgba(255, 99, 71, 0.3);
    position: absolute;
    left: 15%;
    bottom: 10%;
    padding: 30px;
    margin: 150px 0 0 0;
    max-width: 500px;
}

#workout-form > h2 {
    margin-bottom: 15px;
}

#workout-form > label {
    font-size: 88%;
}

.input-field {
    background: transparent;
    width: 75%;
    height: 22px;
    margin: 10px 0 10px 0;
    border: 1px solid #F0EDF6;
    border-radius: 5px;
    color: #F0EDF6;
}

#giveaway {
    background: transparent;
    margin: 10px 0 10px 0;
    border: 1px solid #F0EDF6;
    border-radius: 5px;
    color: #F0EDF6;
    width: 100%;
    resize: none;
}

::placeholder {
    color: #F0EDF6;
}

#workout-form > h4 {
    text-align: left;
    margin-bottom: 10px;
}

.input-radio {
    margin-right: 5px;
    margin-left: 5px; 
}

#input-enter {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}

#input-enter:hover {
    color: black;
}

/* Footer */

#footer {
    width: 100%;
}

#social-media-links {
    height: 120px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 0px;
}

#social-media-links > li {
    display: inline;
}

#social-media-links i {
    font-size: 140%;
    padding: 2.5%;
    color: #F0EDF6;
    margin-bottom: 2.5%;
}

#social-media-links i:hover {
    color: #f4511e;
}